{% load static %}

<header class="header menu_2">
    <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Preload -->
    <div id="logo"><a href="{% url 'home_url' %}" ><h1 class="Hero__title___2viCH" style="color: white; font-weight:bold; text-decoration:none">Compare</h1></a>
        
    </div>
    {% if user.is_authenticated %}
    <ul id="top_menu">
        <li>
            <nav class="navbar navbar-expand-md navbar-light">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
                            Welcome, User <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </li>
        
    </ul>
        {% else %}
        <ul id="top_menu">
            <li><a href="{% url 'login_url' %}" class="login">Login</a></li>
            <li class="hidden_tablet"><a href="{% url 'register_url' %}" class="btn_1 rounded">Register</a></li>
        </ul>
        {% endif %}
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li><span><a href="{% url 'home_url' %}">Home</a></span>
            </li>
            <li><span><a href="{% url 'smart_url' %}">Smartphones</a></span>
            </li>
            <li><span><a href="{% url 'blog_url' %}">Blog</a></span>
            </li>
            <li><span><a href="{% url 'about_url' %}">About</a></span>
            </li>
            <li><span><a href="{% url 'contact_url' %}">Contacts Us</a></span>
            </li>
        </ul>
    </nav>
<div>
    
</header>
<style>
    .user-profile-section .img-profile {
        width: 40px; /* Set the desired width */
        height: 40px; /* Set the desired height */
        object-fit: cover;
    }
</style>