<!DOCTYPE html>
<html lang="en">


{% include 'myadmin/includes/head.html' %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'myadmin/includes/side.html' %}

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'myadmin/includes/navbar.html' %}

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Announced List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Announced Date</th>
                                            <th>Status</th>>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if announceds %}
                                            {% for announce in announceds %}
                                                <tr data-id="{{announce.id}}" data-url="{% url 'announce_update' announce.id %}">
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{announce.announced_date}}</td>
                                                    <td>{{announce.status}}</td>
                                                    <td>
                                                        <button type="submit"  onclick="location.href='{% url 'announce_update' announce.id %}'" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                                        <button type="submit"  data-id="{{announce.id}}" data-url="{% url 'announce_delete' announce.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="12">No data found</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                
                            </div>
                            <div class="text-center"> 
                                <button type="submit"  onclick="location.href='{% url 'Admin_announce_url' %}' " class="btn btn-primary"><i class="fas fa-plus"></i> Add</button> 
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            {% include 'myadmin/includes/footer.html' %}

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'myadmin/includes/logout_modal.html' %}


    <!-- Bootstrap core JavaScript-->
    {% include 'myadmin/includes/scripts.html' %}

</body>

</html>